{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Terrain de Tennis en libre accès{% endblock %}

{% block body %}

  <div class="container textTennis">
    <div class="container text-center title">
      <h2>Trouvez un terrain libre d'accès</h2>
    </div>
    <div class="container imgTennis">
      <img class="ground" src="{{'/images/tennis.jpg'}}" alt="card-img-top">
    </div>
  </div>

{% endblock %}
