{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Terrain de Tennis en libre accès{% endblock %}

{% block body %}

<div class="container text-center">
   <h2>Trouvez un terrain libre d'accès</h2>
</div>
<div class="container" >


         <img class="ground" src="{{'/images/tennis.jpg'}}" alt="card-img-top">


   </div>





{% endblock %}
